*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "header menu"
        "filtro filtro"
        "main main"
        "footer footer";
}

/* BARRA PRINCIPAL */

header {
    display: grid;
    grid-area: header;
    background-color: #000000;
    color: #d4a628;
    justify-content: center;
}

.logo{
    font-family: "oswald", sans-serif;
    font-size: 3rem;
    padding: 1rem;
    align-items: center;
    display: flex;
    transition-duration: 1s;
    transition: transform 1s;
}

.logo i:hover{
    color: #ec9b18;
    transition-duration: 1s;
    transition: transform 1s;
    transform: scale(1.5);
}

nav{
    background-color: #000000;
}

.menu{
    display: grid;
    grid-area: menu;
}

.menu-toggler{
    background-color:#000000;
    border: none;
    font-size: 2rem;
    transition-duration: 1s;
}

.open .menu-toggler{
    color: #ec9b18;
}

.menu-toggler:hover{
    color: #ec9b18;
}


.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 103px;
    right: 0;
    background-color: #000000;
    color: #d4a628;
    width: 80%;
    max-width: 140px;
    min-width: 140px;
    padding: 2rem;
    height: 103px;
    border: none;
    transform: translateX(250px);
    
}



.menu li{
    cursor: pointer;
    text-align: left;
}

.open .menu ul{
    transform: translateX(0px);
    
}

.open .menu li:hover{
    color: #ec9b18;
}

ul{
    padding: 0;
    margin: 0;
}

/* FILTROS */

.filtro{
    display: grid;
    grid-area: filtro;
    background-color: #e8e5dc;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

/* PRINCIPAL */
/* CARDS */
main{
    display: grid;
    grid-area: main;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.cards-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.cards{
    border: solid 1px;
    border-color: #e6dcdc;
    width: 200px;
    align-items: center;
    text-align: center;
    margin: 1rem;
}


img{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

img:hover{
    transform: scale(1.150);
    transition-duration: 1s;
}

.cards p{
    padding: 0.3rem;
    color: #534f45;
}

.cards h4{
    color: #ff0000;
}

.cards button{
    margin: 1rem;
    padding: 0.5rem;
    background-color: #d8c799;
    border-radius: 10%;
    cursor: pointer;
}

.cards button:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

a{
    text-decoration: none;
    color: #d8c799;
}

@media (hover: hover) 
{
    li:hover  {
        color:#ec9b18;
        transition-duration: 1
    }

    a:hover {
        color:#ec9b18;
        transition-duration: 1
    }
    
    .cards button:hover {
        background-color:#ec9b18;
        transition-duration: 1s;
    }

    .redes i:hover {
        color:#ec9b18;
        transition-duration: 1s;}

    .logo:hover {
        color:#ec9b18;
        transition-duration: 1s;}
}


/* PAGINACION */

.paginacion{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    }

.paginacion li{
    display: flex;
    border: solid 0.5px;
    border-color: #e6dcdc;
    padding: 0.5rem;
    cursor: pointer;
}

.numeros{
    display: flex;
    margin: 2 rem;
    
}

/* FOOTER */

footer{
    display: grid;
    grid-area: footer;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

i{
    color: #beb7a4;
    padding: 0.5rem;
    cursor: pointer;
}

/* QUERYS */

@media (min-width: 576px){
    body{
        display: grid;
        grid-template-columns: 15rem 1.5fr ;
        grid-template-areas:
            "header filtro"
            "menu main"
            "footer main"
            
    }

    .menu{
        display: grid;
        grid-area: menu;
    }
    
    .logo{
        font-family: "oswald", sans-serif;
        font-size: 2rem;
        padding: 1rem;
        align-items: center;
        display: flex;
    }
    
        .menu-toggler{
        display: none;
    }
    
    .menu ul{
        position: relative;
        width: auto;
        max-width: auto;
        height: auto;
        padding: 1rem;
        flex-direction: column;
        top: 0;
        color:#d8c799;
        text-align: center;
        transform: none;
    }

    .menu li{
        padding: 1rem;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        }

    .redes{
        align-items: flex-end;
        border: none;
    }    
}
